{% extends 'base.html' %}
{% load static %}
{% block content %}
{% include 'dashboard/_styles.html' %}
<div class="dashboard-screen">
<header class="page-head db-heading">
<div class="heading-copy program-heading-copy" id="dashboard-heading"><h1>시설 이용 현황</h1>{% include 'components/heading_help.html' with id='dashboard-heading' label='시설 이용현황 안내' text='스포츠강좌이용권 이용현황 자료에서 시설·강좌·신청인원을 확인합니다.' %}</div>
</header>
<div id="dashboard-body">{% include 'dashboard/_body.html' %}</div>
</div>
<script src="{% static 'region-map.js' %}?v=20260915-nationwide-districts-2" defer></script>
<script src="{% static 'dashboard-region-map.js' %}?v=20260915-dashboard-connect" defer></script>
{% endblock %}
